In [ ]:
1.Create a python program to sort the given list of tuples based on integer value using a lambda function.
  
  [('Sachin Tendulkar',3457),('Ricky Ponting',27488),('Jack Kallis',25534),('Virat Kohli',24936)]

In [2]:
my_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [ ]:
2. Write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.
   [1,2,3,4,5,6,7,8,9,10]

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]

In [2]:
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.
   Given String:[1,2,3,4,5,6,7,8,9,10]
    Expected output:('1','2','3','4','5','6','7','8','9','10')

In [3]:
s=[1,2,3,4,5,6,7,8,9,10]

In [4]:
def convert(s):
    return tuple(i for i in s)
   

s=[1,2,3,4,5,6,7,8,9,10]
print(convert(s))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
list(map(lambda s:str(s),s))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [ ]:
4. Write a python program using reduce function to compute the product of list containing numbers from 1 to 25.

In [20]:
from functools import reduce

In [21]:
l=range(1,26)

In [ ]:
list(l)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [23]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [ ]:
5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
   [2,3,6,9,27,60,90,120,55,46]

In [32]:
from functools import reduce

In [27]:
s=[2,3,6,9,27,60,90,120,55,46]

In [35]:
list(filter(lambda x:x%2==0 and x%3==0,s))

[6, 60, 90, 120]

In [ ]:
6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
   ['python','php','aba','radar','level']

In [36]:
s= ['python','php','aba','radar','level']

In [46]:
def palindrome_number(s):
    
      
if s=s[::-1]:  
      print("The letter is a palindrome")  
else:  
      print("The letter is not a palindrome")

IndentationError: expected an indented block after function definition on line 1 (4280931412.py, line 4)

In [38]:
list(filter(lambda n:n,s))

['python', 'php', 'aba', 'radar', 'level']

In [ ]:
my_list = ['python', 'php', 'aba', 'radar', 'level']

palindrome_list = list(filter(lambda x: x == x[::-1], my_list))

print(palindrome_list)